%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h2
          IT Way - форум перспектив будущего ИТ-специалиста
        %hr.colored/
    .row.text-center.content-row
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '.2s' }
        .about-content
          = image_tag 'code.png'
          %h3
            Программирование
          %p
            Занимаешься программирование, молодец! Тебе сюда!
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '.2s' }
        .about-content
          = image_tag 'design.png'
          %h3
            Дизайн
          %p
            Занимаешься программирование, молодец! Тебе сюда!
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '.2s' }
        .about-content
          = image_tag 'hardware.png'
          %h3
            Железо
          %p
            Занимаешься программирование, молодец! Тебе сюда!
