%section#about
  .container-fluid
    .row.text-center
      .col-lg-12.wow.fadeIn
        %h2
          IT Way - форум перспектив будущего ИТ-специалиста
        %hr.colored/
    .row.text-center.content-row
      .col-md-offset-4.col-md-4
        .about-content
          = link_to 'Я подал заявку. Что дальше?', page_path(@page), class: 'btn btn-branded'
    .row.text-center.content-row
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '.5s' }
        .about-content
          %i.fa.fa-code.fa-4x
          %h3
            Программирование
          %p
            Хочешь научиться программировать, но не знаешь с чего начать? Подай заявку
          %p
            %i
              для учащихся 8-11 классов
          %p
            .alert.alert-info
              %i.fa.fa-info
              Приём заявок завершён
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '1s' }
        .about-content
          %i.fa.fa-paint-brush.fa-4x
          %h3
            Дизайн
          %p
            Тебе нравится ИТ, но писать код - это совсем не твоё? Жми кнопку ниже
          %p
            %i
              для учащихся 8-11 классов и студентов
          %p
            .alert.alert-info
              %i.fa.fa-info
              Приём заявок завершён
      .col-md-4.col-sm-6.wow.fadeIn{ 'data-wow-delay' => '1.5s' }
        .about-content
          %i.fa.fa-gears.fa-4x
          %h3
            Железо
          %p
            Неравнодушен к микросхемам и хочешь собирать новые устройства? Тогда тебе сюда
          %p
            %i
              для учащихся 8-11 классов и студентов
          %p
            .alert.alert-info
              %i.fa.fa-info
              Приём заявок завершён
