%aside.cta-quote.banner
  .container.wow.fadeIn
    .row
      .col-md-10.col-md-offset-1
        %span.quote
          = 'Следить за другими мероприятиями Молодёжного инициативного центра'
        %hr.colored
        = link_to 'ulmic.ru', 'http://ulmic.ru', class: 'btn btn-outline-light'
%p{ style: 'text-align: right; margin-right: 10px; font-size: 10px' }
  На фотографии победители конкурса "Мистер и Мисс МИЦ 2015 года" Алим Бахтияров и
  = link_to 'Юлия Крашенинникова', 'http://ulmic.ru/613', target: '_blank'
