%aside.callout.design
  .text-vertical-center
    %h1
      = fa_icon 'paint-brush'
      Дизайн
%section.text
  .container
    .row-fluid
      %p
        На направлении программирование вас ожидает дофига всего интересного и блаблаблабла
