%section#process.services
  .container
    .row.content-row
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".2s"}
        .media
          .pull-left
            %i.fa.fa-clipboard
          .media-body
            %h3.media-heading
              = t('.i_need_corporative_video')
            %ul
              %li Планирование
              %li Съёмка
              %li Монтаж
              %li Премьера
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".4s"}
        .media
          .pull-left
            %i.fa.fa-pencil
          .media-body
            %h3.media-heading
              = t('.i_need_wedding_video')
            %ul
              %li Планирование
              %li Съёмка
              %li Монтаж
              %li Премьера
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".6s"}
        .media
          .pull-left
            %i.fa.fa-rocket
          .media-body
            %h3.media-heading
              = t('.all_services')
            %ul
              %li Планирование
              %li Съёмка
              %li Монтаж
              %li Премьера
