%section#process.services
  .container
    %span{ style: 'text-align: center; margin-bottom: 15px' }
      %h2
        Чему тебя научат?
    .row.content-row
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".2s"}
        .media
          .pull-left
            %i.fa.fa-clipboard
          .media-body
            %h4.media-heading
              Программирование
            %ul
              %li Основы программирования
              %li Элементарные алгоритмы
              %li Цикл жизни программного продукта
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".4s"}
        .media
          .pull-left
            %i.fa.fa-pencil
          .media-body
            %h4.media-heading
              Дизайн
            %ul
              %li Как придумывать идеи
              %li Основы работы в графическом редакторе
              %li Разработка первого дизайн-проекта
      .col-md-4.wow.fadeIn{"data-wow-delay" => ".6s"}
        .media
          .pull-left
            %i.fa.fa-rocket
          .media-body
            %h4.media-heading
              Железо
            %ul
              %li
                %i
                  Тайна, покрытая мраком
              %li
                %i
                  Тайна, покрытая мраком
              %li
                %i
                  Тайна, покрытая мраком
%hr.colored
%section{ style: 'padding-top: 15px' }
  .container
    %span{ style: 'text-align: center; margin-bottom: 15px' }
      %h2{ style: 'padding-bottom: 30px' }
        Дополнительные баллы к ЕГЭ
      .row.content-row
        .col-md-2.col-md-offset-1{ style: 'padding-top: 4px' }
          %i.fa.fa-university.fa-3x
        .col-md-8{ style: 'text-align: left' }
          %p
            В рамках направления "Программирование" будет проведена подготовка к конкурсу
            = link_to 'ulivt.ru', 'http://ulivt.ru', target: '_blank'
            \.
      .row.content-row
        .col-md-2.col-md-offset-1{ style: 'padding-top: 16px' }
          %i.fa.fa-plus.fa-3x
        .col-md-8{ style: 'text-align: left' }
          %p
            Конкурс
            = link_to 'ulivt.ru', 'http://ulivt.ru', target: '_blank'
            \ - это возможность получить максимум
            %b{ style: 'font-size: 20pt' }
              +15
            баллов к ЕГЭ при поступлении на ФИСТ УлГТУ.
      .row.content-row
        .col-md-2.col-md-offset-1{ style: 'padding-top: 24px' }
          %i.fa.fa-exclamation.fa-3x
        .col-md-8{ style: 'text-align: left' }
          %p
            %b{ style: 'font-size: 20pt' }
              Внимание!
            На форуме конкурсных испытаний
            = link_to 'ulivt.ru', 'http://ulivt.ru', target: '_blank'
            проходить не будет. На IT Way будет только обучение решению типовых задач конкурса. Обучение будут проводить составители задач.
