%section.testimonials.bg-gray{ style: 'padding-top: 0px' }
  .container.wow.fadeIn
    %span
      %h2{ style: 'padding-bottom: 26px; padding-top: 20px' }
        Кто приедет
    .row
      .col-lg-10.col-lg-offset-1
        .testimonials-carousel
          .item
            .row
              .col-lg-12
                .row
                  .col-md-6
                    .testimonial-img
                      = image_tag 'banner.jpg', class: 'img-responsive', alt: ""
                  .col-md-6
                    %p.lead
                      Иван Иванов
                    %hr.colored
                    %p.quote
                      Программирование - это мир
          .item
            .row
              .col-lg-12
                .row
                  .col-md-6
                    .testimonial-img
                      = image_tag 'banner.jpg', class: 'img-responsive', alt: ""
                  .col-md-6
                    %p.lead
                      Иван Иванов
                    %hr.colored
                    %p.quote
                      Программирование - это мир
