%aside.callout.programming
  .text-vertical-center
    %h1
      = fa_icon :code
      Программирование
%section.text
  .container
    .row-fluid
      %p
        На направлении программирование вас ожидает дофига всего интересного и блаблаблабла
