%section.services-carousel.wow.fadeIn
  .item#service.first
    .container-fluid
      .row
        .col-md-12
          .service-details
            %span.service-name
              = t('.i_need_corporative_video')
            %hr.colored
            %span.service-description
              Здесь текст, описывающий услуги. А на фоне должно изображение, посвящённое услуге.
            %a.btn.btn-outline-light{"data-toggle" => "modal", href: "#servicesModal1"}
              Читать далее
              %i.fa.fa-long-arrow-right.fa-fw
  .item#service.second
    .container-fluid
      .row
        .col-md-12
          .service-details
            %span.service-name
              = t('.i_need_wedding_video')
            %hr.colored
            %span.service-description
              Здесь текст, описывающий услуги. А на фоне должно изображение, посвящённое услуге.
            %a.btn.btn-outline-light{"data-toggle" => "modal", href: "#servicesModal2"}
              Читать далее
              %i.fa.fa-long-arrow-right.fa-fw
  .item#service.third
    .container-fluid
      .row
        .col-md-12
          .service-details
            %span.service-name
              = t('.all_services')
            %hr.colored
            %span.service-description
              Здесь текст, описывающий услуги. А на фоне должно изображение, посвящённое услуге.
            %a.btn.btn-outline-light{"data-toggle" => "modal", href: "#servicesModal3"}
              Читать подробности
              %i.fa.fa-long-arrow-right.fa-fw
