%section.services-carousel.wow.fadeIn
  .item#service.first
    .container-fluid
      .row
        .col-md-12
          .service-details
            %span.service-name
              Когда?
            %span.service-description
              23 - 27 октября 2015 года
      %hr.colored
      .row{ style: 'margin-top: 20px' }
        .col-md-12
          .service-details
            %span.service-name
              Где?
            %span.service-description
              ДООЦ "ЮНОСТЬ", г. Димитровград
      %hr.colored
      .row{ style: 'margin-top: 20px' }
        .col-md-12
          .service-details
            %span.service-name
              Цена вопроса
            %span.service-description
              Стоимость участия 1500
              %i.fa.fa-ruble
%p{ style: 'text-align: right' }
  На фотографии победители конкурса "Мистер и Мисс МИЦ 2015 года" Алим Бахтияров и
  = link_to 'Юлия Крашенинникова', 'http://ulmic.ru/616', target: '_blank'
