%aside.callout.steel#steel
  .text-vertical-center
    %h1
      = fa_icon :gears
      Железо
%section.text
  .container
    .row-fluid
      %p
        На направлении программирование вас ожидает дофига всего интересного и блаблаблабла
