%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path, style: 'display: inline' }
        = image_tag 'logo.svg', class: 'img-responsive', alt: ''
    - if current_user && current_user.admin?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.hidden
            %a{ href: '#page-top' }
          %li.dropdown
            %a{ href: admin_users_path }
              Users
          %li.dropdown
            %a{ href: admin_pages_path }
              Pages
          %li.dropdown
            %a{ href: admin_events_path }
              Events
