%nav.navbar.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path, style: 'display: inline' }
        = image_tag 'logo.svg', class: 'img-responsive', alt: ''
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.hidden
          %a{ href: '#page-top' }
        %li.dropdown
          %a.dropdown-toggle{  data: {  hover: :dropdown, toggle: :dropdown  }, href: '#'  }
            Кнопка 1
          %ul.dropdown-menu{  role: :menu  }
            %li
              %a{  href: '#'  }
                Первая позиция меню
            %li
              %a{  href: '#'  }
                Вторая позиция меню
        %li
          %a{ href: '#' }
            Кнопка 2
        %li
          %a{ href: '#' }
            Кнопка 3
        %li
          %a{ href: '#' }
            Кнопка 4
        %li
          %a{ href: '#' }
            Кнопка 5
