.navbar-brand
  img
    height: 35px
    margin-top: 7px

.row.header
  //background: linear-gradient(to bottom, #333, #222)
  border-bottom: 5px solid #333
  margin: 0 2.5%
  padding-bottom: 20px

section
  &#about
    padding-top: 20px
